<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/layout :: head(title=${title})" lang="en">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body style="background-color:#eee">
        <div th:replace="fragments/layout :: header"></div>

        <hr/>

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a class="btn btn btn-primary" th:href="@{/profile/{path}(path=${path})}" role="button" style="margin: 10px; margin-left: 0px">Back to profile</a>
                    <h1>Album of <span th:text="${name}">name</span></h1>
                </div>
            </div>
            <div th:if="${isOwnProfile} and ${fullAlbum}" class="row">
                <div class="col">
                    <h6>Album is full: delete images to upload!</h6>
                </div>
            </div>
            <div th:if="${isOwnProfile} and ${!fullAlbum}" class="row">
                <div class="col">
                    <form th:action="@{/image/{username}(username=${username})}" method="POST" enctype="multipart/form-data">
                        <input type="text" name="description" placeholder="Description..."/>
                        <input type="file" name="file" accept="image/gif, image/png, image/jpeg"/>
                        <input th:if="${!edit}"  type="hidden" name="redirect" th:value="@{/images/{username}(username=${username})}"/>
                        <input th:if="${edit}"  type="hidden" name="redirect" value="/profile/edit"/>
                        <input type="submit" value="Upload image"/>
                    </form>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="row" th:each="image : ${images}">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <img th:if="${!edit}" th:src="@{/image/{id}(id=${image.id})}" style="width: 75%; overflow: hidden; margin: 10px; margin-left: 0px"/>

                            <img th:if="${edit}" th:src="@{/image/{id}(id=${image.id})}" style="width: 250px; overflow: hidden; margin-top: 15px"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5 th:if="${!edit}" style="margin-left: 10px">Description:</h5>
                            <span th:if="${!edit}" th:text="${image.description}" style="margin: 5px; margin-left: 12px;"/>
                            <form th:if="${edit}" th:action="@{/profile/setProfilePic/{id}(id=${image.id})}" method="POST">
                                <input type="submit" class="btn btn-outline-success" value="Set as profile pic" style="margin: 10px"/>
                            </form>
                            <form th:if="${isOwnProfile}" th:action="@{/image/delete/{id}(id=${image.id})}" method="POST" onsubmit="return confirm('Do you really want to delete this image?');">
                                <input th:if="${!edit}"  type="hidden" name="redirect" th:value="@{/images/{username}(username=${username})}"/>
                                <input th:if="${edit}"  type="hidden" name="redirect" value="/profile/edit"/>
                                <input type="submit" class="btn btn-outline-danger" value="Delete" style="margin: 10px"/>
                            </form>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>