<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/layout :: head(title=${title})" lang="en">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body style="background-color:#eee">
        <div th:replace="fragments/layout :: header"></div>

        <hr/>
        
        <div class="container">
            <h1>WanhaFace</h1>
            <br/>
            <p style="width: 50%">Helsingin yliopiston kurssiin <a href="https://web-palvelinohjelmointi-s20.mooc.fi/"><i>Web-palvelinohjelmointi Java, Syksy 2020</i></a> kuuluvan <a href="https://web-palvelinohjelmointi-s20.mooc.fi/projekti">ohjelmointiprojektin</a> toteutus, jossa on luotu kaveri- ja kuvasovellus eli tuttavallisemmin vanhan kansan Facebook.</p>
        </div>
    </body>
</html>