<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/layout :: head(title=${title})" lang="en">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        <br/>
        <div class="container">
            <h1 th:text="${name}">Name</h1>
            <h5 th:text="${username}">username</h5>

            <div  th:if="${isNotFriend}">
                <form th:action="@{/profile/{path}(path=${path})}" method="POST">
                    <input type="submit" class="btn btn-primary" value="Friend request"/>
                </form>
            </div>
        </div>
    </body>
</html>