<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/layout :: head(title=${title})" lang="en">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body style="background-color:#eee">
        <div th:replace="fragments/layout :: header"></div>

        <hr/>

        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img th:src="@{/images/profilepic/{username}(username=${username})}" style="width: 250px; max-height: 400; overflow: hidden; margin: 10px"/>
                </div>
                <div class="col-3">
                    <h1 th:text="${name}">Name</h1>
                    <h5 th:text="${atusername}">username</h5>
                    <br/>
                    <a th:if="${isOwnProfile}" class="btn btn-outline-info btn-sm" th:href="@{/profile/edit}" role="button">Edit profile picture</a>

                    <div th:if="${!requestSent} and ${!isOwnProfile}">
                        <form th:action="@{/request/{path}(path=${path})}" method="POST">
                            <input type="submit" class="btn btn-primary btn-sm" value="Friend request"/>
                        </form>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-3">
                    <h4>Image album:</h4>
                </div>
                <div class="col-3">
                    <a class="btn btn-info" th:href="@{/images/{username}(username=${username})}" role="button">View all images</a>
                </div>
            </div>

            <br/>

            <div th:if="${isOwnProfile}" class="row">
                <div class="col-3">
                    <h5>Upload new image:</h5>
                </div>
                <div class="col">

                    <form th:action="@{/image/{username}(username=${username})}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="submit" value="Upload image"/>
                    </form>

                </div>
            </div>

            <hr th:if="${isOwnProfile}"/>

            <div th:if="${isOwnProfile}" class="row">
                <div class="col">
                    <h4>Friend requests:</h4>
                    <br/>
                    <ul>
                        <li th:each="request : ${friendRequests}">
                            <div class="row">
                                <div class="col-3">
                                    <p th:text="${#dates.format(request.time, 'dd.MM.yyyy HH:mm')}">dd.MM.yyyy HH:mm</p>
                                </div>
                                <div class="col-3">
                                    <b><span th:text="${request.fromName}">name</span> </b>
                                    (<a th:href="@{/profile/{path}(path=${request.fromPath})}">@<span th:text="${request.fromUsername}">username</span></a>)
                                </div>
                                <div class="col-3">
                                    <form th:action="@{/accept/{path}(path=${request.fromPath})}" method="POST">
                                        <input type="submit" class="btn btn-success mb-2" value="Accept"/>
                                    </form>
                                    <form th:action="@{/decline/{path}(path=${request.fromPath})}" method="POST">
                                        <input type="submit" class="btn btn-danger mb-2" value="Decline"/>
                                    </form>
                                </div>
                            </div>
                            <br/>
                        </li>
                    </ul>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-3">
                    <h4>Friends:</h4>
                </div>
                <div class="col-3">
                    <ul>
                        <li th:each="account : ${friends}">
                            <b><span th:text="${account.name}">name</span> </b>
                            <br/>
                            (<a th:href="@{/profile/{path}(path=${account.path})}">@<span th:text="${account.username}">username</span></a>)
                            <br/>
                            <br/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>